body{
	color: rosybrown;
font-family:Arial;
background: color;goldenbrown
}
p{text-align: left;

}
h1{text-align: center;
color:aquamarine;
}
.modesty{text-align: left;
}
h2{color: yellow;
}
h3{color:paleturquoise;
 }

.good{color: mintcream;
}

.green{color: forestgreen;
}
.june{color: firebrick;

}
.white{color:darkolivegreen;
}
table,th,td{border:1px solid black;
            width:50%;}       
nav{text-align:center;
    justify-content:center;
    padding:0;
    margin:0;
    font-weight:bold;
     }








